@font-face {
  font-family: "Inter";
  src: url("./inter-variable.ttf") format("truetype-variations");
  font-weight: 100 1000;
}

:root {
  /* Webflow colors */
  --background1: #1E1E1E;
  --background2: #2E2E2E;
  --background3: #383838;
  --background4: #373737;
  --background5: #444444;
  --backgroundInactive: #2E2E2E;
  --backgroundInverse: #EBEBEB;
  --backgroundInput: rgba(0, 0, 0, 0.15);

  --actionPrimaryBackground: #006ACC;
  --actionPrimaryBackgroundHover: #187CD9;
  --actionSecondaryBackground: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.10) 100%);
  --actionSecondaryBackgroundHover: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.16) 100%);
  --actionPrimaryText: #FFFFFF;
  --actionPrimaryTextHover: #FFFFFF;
  --actionSecondaryText: #E0E0E0;
  --actionSecondaryTextHover: #E0E0E0;

  --border1: rgba(255, 255, 255, 0.13);
  --border2: rgba(255, 255, 255, 0.14);
  --border3: rgba(255, 255, 255, 0.19);

  --text1: #F5F5F5;
  --text2: #BDBDBD;
  --text3: #A3A3A3;
  --textInactive: #757575;
  --textInverse: #1E1E1E;

  --blueText: #8AC2FF;
  --blueIcon: #8AC2FF;
  --blueBorder: #007DF0;

  --greenBackground: #007A41;
  --greenBackgroundHover: #0D8A4F;
  --greenText: #63D489;
  --greenIcon: #63D489;
  --greenBorder: #259D4D;

  --yellowBackground: #946B00;
  --yellowBackgroundHover: #AF7F00;
  --yellowText: #F3C831;
  --yellowIcon: #F3C831;
  --yellowBorder: #D7A220;

  --redBackground: #CF313B;
  --redBackgroundHover: #CB3535;
  --redText: #FF8A8A;
  --redIcon: #FF8A8A;
  --redBorder: #E42F3A;

  --orangeBackground: #BF4704;
  --orangeBackgroundHover: #DC95616;
  --orangeText: #EBA267;
  --orangeIcon: #EBA267;
  --orangeBorder: #DF640C;

  --purpleBackground: #734CE0;
  --purpleBackgroundHover: #815BEB;
  --purpleText: #B89EFF;
  --purpleIcon: #B89EFF;
  --purpleBorder: #875FFD;

  /* Box shadows for buttons and inputs */
  --boxShadows-action-colored: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.8),0px 0.5px 0.5px 0px rgba(255, 255, 255, 0.20) inset;
  --boxShadows-action-secondary: 0px 0.5px 1px rgba(0, 0, 0, 0.8),inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.12);
  --boxShadows-input-inner: 0px 1px 1px -1px rgba(0, 0, 0, 0.13) inset,0px 3px 3px -3px rgba(0, 0, 0, 0.17) inset,0px 4px 4px -4px rgba(0, 0, 0, 0.17) inset,0px 8px 8px -8px rgba(0, 0, 0, 0.17) inset,0px 12px 12px -12px rgba(0, 0, 0, 0.13) inset,0px 16px 16px -16px rgba(0, 0, 0, 0.13) inset;

  --boxShadows-menu: 0px 0.5px 0.5px 0px rgba(255, 255, 255, 0.12) inset, 0px 12px 24px 8px rgba(0, 0, 0, 0.04), 0px 8px 16px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px 2px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 0px 1px 0px rgba(0, 0, 0, 0.25);

  --input-inner-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.13) inset, 0px 3px 3px -3px rgba(0, 0, 0, 0.17) inset, 0px 4px 4px -4px rgba(0, 0, 0, 0.17) inset, 0px 8px 8px -8px rgba(0, 0, 0, 0.17) inset, 0px 12px 12px -12px rgba(0, 0, 0, 0.13) inset, 0px 16px 16px -16px rgba(0, 0, 0, 0.13) inset;

  --menu-shadow: 0px 12px 24px 8px rgba(0, 0, 0, 0.08), 0px 8px 16px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px 2px rgba(0, 0, 0, 0.08), 0px 2px 6px 0px rgba(0, 0, 0, 0.08), 0px -0.5px 0.5px 0px rgba(0, 0, 0, 0.12) inset, 0px 0.5px 0.5px 0px rgba(255, 255, 255, 0.12) inset;

  /* TYPOGRAPHY */
  --font-stack: 'Inter', sans-serif;
  --font-size-small: 11.5px;
  --font-size-small-letter-spacing: -0.115px;
  --font-size-large: 12.5px;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --border-radius: 4px;
}

body {
  margin: 0;
  background: var(--background1);
  font-family: var(--font-stack);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-small);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

button {
  color: var(--actionPrimaryText);
  background: var(--actionPrimaryBackground);
  padding: 4px 8px;
  border: 2px solid var(--border1);
  border-radius: var(--border-radius-small);
}

button:focus {
  outline: none;
  border-color: #1280EE;
}
